body {
    background-color: #e6faff;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}

main {
    width: 800px;
}

main > section {
    background-color: #fff;
    border: 1px solid #007a99;
    box-shadow: 5px 5px 5px #999;
    padding: 20px;
    margin-top: 20px;
    width: 100%;
}

#weather-app{
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset {
    border: 1px solid #000;
}

h1 a {
    color: #000;
    text-decoration: none;
}

.weatherInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


   .cardTop{
    text-align: center;
   }

   #bottom-cards{
    display: flex;
    flex-direction: row;
    padding: 20px;
   }

  .cardLeft {
    padding: 20px;
    display: flex;
    flex-direction: column;
    
  }

  .border{
    border-left: 0.2rem solid rgba(0, 0, 0, 1);
  }
  
  .cardRight {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #compare-button {
    background-color: yellow;
    padding: 20px;
    font-size: 20px;;
  }

  #weather-cards {
    display: flex;
    flex-direction: row;
  }