{% extends 'base.html' %}
{% block content %}

<section id="weather-cards">
    <section class="weatherInfo">
        <div class="cardTop">
          <span class="weatherCondition"></span>
          <h1 class="city"> {{city1.name}} on {{date}} </h1>
          <h3>{{city1.weather[0].description}}</h3>
        </div>
        <div id = "bottom-cards">
            <div class="cardLeft">
                <span class="temp">
                  <p>{{city1.main.temp}} {{units_letter}}</p>
                  </span> 
                <image src="http://openweathermap.org/img/wn/{{city1.weather[0].icon}}@2x.png"></image>
              </div>
              <div class ="border"> </div>
              <div class="cardRight">
                  <span class="feelsLike">
                      <p>Feels Like: {{city1.main.feels_like}} {{units_letter}}</p>
                  </span>
                  <span class="tempMax">
                      <p>wind_speed: {{city1.wind.speed}} miles/hour</p>
                  </span>
                  <span class="humidty">
                      <p>Humidty: {{city1.main.humidity}}%</p>
                  </span>
                </div>
        </div>
    </section>

    <section class="weatherInfo">
        <div class="cardTop">
          <span class="weatherCondition"></span>
          <h1 class="city"> {{city2.name}} on {{date}} </h1>
          <h3>{{city2.weather[0].description}}</h3>
        </div>
        <div id = "bottom-cards">
            <div class="cardLeft">
                <span class="temp">
                  <p>{{city2.main.temp}} {{units_letter}}</p>
                  </span> 
                <image src="http://openweathermap.org/img/wn/{{city2.weather[0].icon}}@2x.png"></image>
              </div>
              <div class ="border"> </div>
              <div class="cardRight">
                  <span class="feelsLike">
                      <p>Feels Like: {{city2.main.feels_like}} {{units_letter}}</p>
                  </span>
                  <span class="tempMax">
                      <p>wind_speed: {{city2.wind.speed}} miles/hour</p>
                  </span>
                  <span class="humidty">
                      <p>Humidty: {{city2.main.humidity}}%</p>
                  </span>
                </div>
        </div>
    </section>
</section>

<section class="weather-form">
    <h1>Comparing weather in {{city1.name}} and {{city2.name}}</h1>
    <p>{{date}}</p>
        <div id ="descriptions">
            <p> It is {{city1.weather[0].description}} in {{city1.name}}</p>
            <p> It is {{city2.weather[0].description}} in {{city2.name}}</p>
        </div>
        <div id = 'temperature_difference'>
            {% if city1.main.temp > city2.main.temp%}
                <p> It is {{city1.main.temp - city2.main.temp}} {{units_letter}} warmer in {{city1.name}} than in {{city2.name}} today.</p>
            {% elif city2.main.temp > city1.main.temp %}
                <p> It is {{round(city2.main.temp - city1.main.temp, 2)}} {{units_letter}} warmer in {{city2.name}} than in {{city1.name}} today.</p>
            {% else %} 
            <p>Temperatures are the same in {{city1.name}} and {{city2.name}} </p>
            {% endif %} 
        </div>
        <div id = 'humidity_difference'>
            {% if city1.main.humidity > city2.main.humidity%}
                <p> The humidity in {{city1.name}} is {{city1.main.humidity - city2.main.humidity}}%  higher than {{city2.name}} today.</p>
            {% elif city2.main.humidity > city1.main.humidity%}
                <p> The humidity in {{city2.name}} is {{city2.main.humidity - city1.main.humidity}}%  higher than {{city1.name}} today.</p>
            {% else %} 
            <p>Humidity is the same in {{city1.name}} and {{city2.name}} </p>
            {% endif %} 
        </div>
        <div id = 'wind_difference'>
            {% if city1.wind.speed > city2.wind.speed %}
                <p>  The wind speed in {{city1.name}} is {{city1.wind.speed - city2.wind.speed}} miles/hour greater than {{city2.name}}</p>
            {% elif city2.wind.speed > city1.wind.speed %}
                <p> The wind speed in {{city2.name}} is {{city2.wind.speed - city1.wind.speed}} miles/hour greater than {{city1.name}} </p>
            {% else %} 
                <p>Wind speed is the same in {{city1.name}} and {{city2.name}} </p>
            {% endif %} 
        </div>
</section>

{% endblock %}