{% extends 'base.html' %}
{% block content %}
<section>
    <h1>Weather in {{city.name}}</h1>
    <p>on {{date}}</p>
    
    <ul>
        <li>Temperature: {{temp.main.temp}} {{units_letter}} </li>
        <li>Description: {{description.weather[0].description}} </li>
        <li>Humidity: {{humidity.main.humidity}} % </li>
        <li>Wind speed: {{wind_speed.wind.speed}} miles/hour </li>
        <li>Sunrise: {{sunrise.sys.sunrise}} </li>
        <li>Sunset: {{sunset.sys.sunset}} </li>
    </ul>
</section>
{% endblock %}