{% extends 'base.html' %}
{% block content %}
<!-- <section>
    <h1>Weather in {{city.name}}</h1>
    <p>on {{date}}</p>
    <image src="http://openweathermap.org/img/wn/{{icon.weather[0].icon}}@2x.png"></image>
    
    <ul>
        <li>Temperature: {{temp.main.temp}} {{units_letter}} </li>
        <li>Description: {{description.weather[0].description}} </li>
        <li>Humidity: {{humidity.main.humidity}} % </li>
        <li>Wind speed: {{wind_speed.wind.speed}} miles/hour </li>
        <li>Sunrise: {{sunrise.sys.sunrise}} </li>
        <li>Sunset: {{sunset.sys.sunset}} </li>
    </ul>
</section> -->

<section class="weatherInfo">
    <div class="cardTop">
      <span class="weatherCondition"></span>
      <h1 class="city"> {{city.name}} on {{date}} </h1>
      <h3>{{description.weather[0].description}}</h3>
    </div>
    <div id = "bottom-cards">
        <div class="cardLeft">
            <span class="temp">
              <p>{{temp.main.temp}} {{units_letter}}</p>
              </span> 
            <image src="http://openweathermap.org/img/wn/{{icon.weather[0].icon}}@2x.png"></image>
          </div>
          <div class ="border"> </div>
          <div class="cardRight">
              <span class="feelsLike">
                  <p>Feels Like: {{feels_like.main.feels_like}}</p>
              </span>
              <span class="tempMax">
                  <p>wind_speed: {{wind_speed.wind.speed}} miles/hour</p>
              </span>
              <span class="humidty">
                  <p>Humidty: {{humidity.main.humidity}}</p>
              </span>
            </div>

    </div>
   
</section>
{% endblock %}